<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="bg-dark">

    <div class="container border rounded border-primary mt-5 bg-white">
        <form action="/cadastrocliente" method="POST" class="mt-4 mb-4">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" required id="nome" name="nome" aria-describedby="nome" placeholder="Digite o nome">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" required id="telefone" name="telefone" aria-describedby="telefone" placeholder="Digite o telefone">
            </div>
            <div class="form-group">
                <label for="endereco">Endereco</label>
                <input type="text" class="form-control" required id="endereco" name="endereco" aria-describedby="endereco" placeholder="Digite o endereco">
            </div>
            <div class="form-group">
                <label for="idade">Idade</label>
                <input type="number" class="form-control" required id="idade" name="idade" aria-describedby="idade" placeholder="Digite a idade">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Cpf</label>
                <input type="text" class="form-control" required id="cpf" name="cpf" aria-describedby="cpf" placeholder="Digite o cpf">
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="/clientes" class="btn btn-primary">Voltar</a>

            </div>
        </form>

    </div>

    <script src="./js/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="./js/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="./js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
</body>

</html>